@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

@font-face {
  font-family: 'sofiapro-bold';
  src: url('../fonts/sofiapro-bold/SofiaProBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/sofiapro-bold/SofiaProBold.otf')  format('opentype'),
         url('../fonts/sofiapro-bold/SofiaProBold.woff') format('woff'), url('../fonts/sofiapro-bold/SofiaProBold.ttf')  format('truetype'), url('../fonts/sofiapro-bold/SofiaProBold.svg#SofiaProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'sofiapro-semibold';
  src: url('../fonts/sofiapro-semibold/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/sofiapro-semibold/SofiaProSemiBold.otf')  format('opentype'),
         url('../fonts/sofiapro-semibold/SofiaProSemiBold.woff') format('woff'), url('../fonts/sofiapro-semibold/SofiaProSemiBold.ttf')  format('truetype'), url('../fonts/sofiapro-semibold/SofiaProSemiBold.svg#SofiaProSemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
    font-family: 'sofiapro-bold', sans-serif;
    font-weight: 400;
}

body, p {
    font-size: 20px;
    font-weight: 300;
}

p {
    font-size: 16px;
    line-height: 16px;
    margin: 0px 0px 10px;
    color: $blue;
    font-weight: 400;

    @include mobile {
        font-size: 12px;
        line-height: 12px;
    }
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    font-family: 'sofiapro-semibold', sans-serif;
    // letter-spacing: .1em;

    @include mobile_landscape {
        font-size: 25px;
    }
}

h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: lowercase;
    font-family: 'sofiapro-semibold', sans-serif;
    letter-spacing: .3em;

    @include mobile_landscape {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

strong, b {
    font-family: 'centurygothic_bold', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/*==================================
STRUCTURE
==================================*/

body {
    padding: 0;
    margin: 0;
}

.fullmoon_splash_container {
    width: 100%;
    height: 100vh;
    background: $cream;
}

.fullmoon_content_container_padding {
    width: 100vw;
    height: 100vh;
    padding: 30px;

    @include mobile_landscape {
        padding: 10px;
    }
}

.fullmoon_content_container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: $cream;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

/*==================================
LOGO
==================================*/

.logo {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    img {
        width: 100%;
    }

    @media screen and (max-width:700px) and (orientation:landscape) {
        width: 70%
    }
}

.logo h3 {
    color: $red;
}

.logo p {
    display: none;

    @include tablet_landscape {
        display: block;
    }
}

/*==================================
TOP SOCIAL BAR
==================================*/

section.top_social {
    position: absolute;
    top: 20px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile_landscape {
        top: 20px;
        padding: 0 10px;
    }
}

p.hashtag {
    color: $orange;
    margin-bottom: 0;
}

// Social Icons

ul.social_icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.social_icons li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

ul.social_icons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: $blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: $white;
    font-size: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover {
        background: $white;
        color: $blue;
    }
}

/*==================================
STATIC TEXT
==================================*/

p.matte {
    position: absolute;
    right: 40px;
    bottom: 16%;
    margin-bottom: 0;
    color: $green;
    transform: rotate(90deg);
    transform-origin: top right;

    @include mobile_landscape {
        right: 10px;
        bottom: 20%;
    }

    @media screen and (max-width:700px) and (orientation:landscape) {
        display: none;
    }
}

// Governors Island

h2.governors_island {
    position: absolute;
    left: 8%;
    top: 20%;
    color: $blue;
    margin: 0;

    @include tablet_landscape {
        display: none;
    }
}

// Date

h2.date {
    position: absolute;
    right: 150px;
    bottom: 20%;
    margin-bottom: 0;
    transform: rotate(90deg);
    transform-origin: top right;
    color: $blue;

    @include tablet_landscape {
        display: none;
    }
}

/*==================================
BUY TICKETS
==================================*/

.buy_tickets {
    position: absolute;
    bottom: 18%;
    left: 0;
    width: 100%;
    text-align: center;
}

.buy_tickets img {
    width: 250px;

    @include mobile_landscape {
        width: 200px;
    }

    @include large_desktop {
        width: 350px;
    }
}

/*==================================
SHAPES
==================================*/

img.blue_shape {
    position: absolute;
    top: 8%;
    left: 30%;
    width: 280px;
    z-index: 10;

    @include tablet_landscape {
        width: 200px;
    }

    @include tablet {
        width: 160px;
    }

    @include mobile_landscape {
        width: 120px;
        top: 20%;
    }

    @include large_desktop {
        width: 350px;
    }

    @media screen and (max-width:700px) and (orientation:landscape) {
        display: none;
    }
}

img.yellow_shape {
    position: absolute;
    bottom: 15%;
    left: 13%;
    width: 200px;
    z-index: 10;

    @include tablet_landscape {
        width: 120px;
    }

    @include tablet {
        width: 80px;
    }

    @include mobile_landscape {
        bottom: 5px;
    }

    @include mobile {
        width: 50px;
    }

    @include large_desktop {
        width: 300px;
    }

    @media screen and (max-width:700px) and (orientation:landscape) {
        display: none;
    }
}

img.green_shape {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 350px;
    z-index: 10;

    @include tablet_landscape {
        width: 250px;
    }

    @include tablet {
        width: 180px;
    }

    @include mobile_landscape {
        width: 80px;
    }

    @include large_desktop {
        width: 400px;
    }
}

/*==================================
BORDERS
==================================*/

img.bottom_left_border {
    position: absolute;
    bottom: 0;
    left: 0;

    @include tablet_landscape {
        width: 300px;
    }
}

img.top_right_border {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;

    @include tablet_landscape {
        width: 300px;
    }
}

/*==================================
EMAIL
==================================*/

.email_subscribe_container {
    position: absolute;
    text-align: center;
    bottom: 40px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    @include mobile_landscape {
        bottom: 100px;
    }

    @media screen and (max-width:667px) and (orientation:landscape) {
        bottom: 10px;
    }
}

div#mc_embed_signup_scroll {
    position: relative;
}

form#mc-embedded-subscribe-form {
    display: inline-block;
}

input#mc-embedded-subscribe {
    background: 0 0;
    border: 0;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-family: 'sofiapro-bold', sans-serif;
    position: absolute;
    bottom: 7px;
    right: 0;
    color: $red;
    outline: 0;
}

.mc-field-group {
    display: inline-block;
}

input#mce-EMAIL {
    border: 0;
    border-bottom: 1px solid $blue;
    font-family: 'sofiapro-bold', sans-serif;
    color: $red;
    background: transparent;
    font-size: 12px;
    text-transform: lowercase;
    outline: 0;
    width: 300px;
    border-radius: 0;

    @include mobile_landscape {
        width: 200px;
    }
}

// Response Messages

.mce-responses {
    font-size: 10px;
    line-height: 10px;
    padding-top: 10px;
}